body {
    height: 100%;
    width: 100%;
    padding: 5%;
}

#main-container{
    padding: 2%;
    text-align: center;
    border-style: dotted;
    height: 100%;
    width: 100%;
}

#main-title{
    padding: 1%;
    font-size: 5vh
}

#no-posts-note{
    padding: 10%;
}

#new-post-container{
    border-style: dotted;
    padding: 2%;
}

#new-post-heading{
    font-size: 4vh;
    padding: 1%;
}

#new-post-form input{
    height: 5vh;
    margin-bottom: 2%;
}

#new-post-form textarea{
    height: 15vh;
    margin-bottom: 5%;
}

#new-post-form label{
    font-size: 2vh;
    margin-bottom: 0.5%;
}

button{
    font-size: 2vh;
    margin: 3%
}

.single-message-container{
    text-align: left;
    border-style: solid;
    padding: 2%
}

#post-msg{
    font-size: 16px;
}

#post-data{
    font-size: 9px;
}

#post-user, #post-time{
    padding-left: 0;
    padding-right: 0
}

#post-user {
    text-align: left;
}

#post-time {
    text-align: right;
}

.single-post-container {
    text-align: left;
    border-style: dotted;
    padding: 2%
}

.single-comment-container{
    text-align: left;
    border-bottom: dotted;
    padding: 2%;
    font-size: 10px;
}

#new-comment-form{
    margin-top:5%;
}

.single-post-message{
    margin-bottom: 5%
}